<!DOCTYPE html>
| <html>
| <head>
|     <title>#{title}</title>
|     <meta charset="utf-8" />
| </head>
| <body>
    h1 Головна сторінка
    form додайте link із сайта #{title}
    p додайте link із сайта #{title}

  </body>
<html>
