<!DOCTYPE html>
| <html>
| <head>
|     <title>#{title}</title>
|     <meta charset="utf-8" />
| </head>
| <body>
    form додайте link сторінок Rozetka
        input
        button +
        input
        button +
        input
        button +
  </body>
<html>